<!DOCTYPE html>
<html>
<head>
    <title>Coffee</title>
</head>
<body>
    {% block nav %}
        <a href="/twig/index.php">Home</a>
        <a href="/twig/process.php">Our Process</a>
        <a href="/twig/about.php">About us</a>
    {% endblock %}
    
    {% block body %}

    {% endblock %}
</body>
</html>

