{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome {{ name }}</h1>
    <p>Welcome to the site!</p>


    {% for customer in customers %}
        {% for account in customer.getAccounts() %}
            {{ account.balance }}
        {% endfor %}
    {% endfor %}

{% endblock %}
