{% extends 'base.html.twig' %}

{% block nav %}
    {{ parent() }}
    <a href="http://www.starbucks.com">Our sister company</a>
{% endblock %}

{% block body %}

    <h1>Welcome</h1>
    <p>Out process is the finest!</p>

{% endblock %}
