{% extends 'base.html.twig' %}

{% block body %}

  
    <p>There can be only one.</p>

    Person Id: {{ person.id }}
    Person Name: {{ person.name }}
    Person Email: {{ person.email }}

{% endblock %}

